* {
    margin: 0;
    padding: 0;
    font-family: 'futura md bt';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(255, 255, 255);
  }
  
  header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: relative; /* Add position relative */

  }
  
  header .logo {
    font-size: 30px;
    text-transform: uppercase;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li a {
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
  }
  
  header nav ul li a:hover,
  header nav ul li a.active {
    border-bottom-color: dodgerblue;
  }
  
  header nav ul li a.btn-link {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
  }
  
  header nav ul li a.btn-link button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  header nav ul li a.btn-link button.sign-up-btn {
    background-color: green;
    color: white;
  }
  
  .hamburger {
    cursor: pointer;
    display: none;
  }
  
  .hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
  }
  
  @media only screen and (max-width: 900px) {
    header {
      padding: 0 30px;
    }
  }
  
  /* ... */

  .hamburger {
    cursor: pointer;
    display: none;
  }
  
  .hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
  }
  
  @media only screen and (max-width: 700px) {
    .hamburger {
      display: block;
      z-index: 3;
    }
    
    header nav {
      position: absolute;
      width: 100%;
      left: -100%;
      top: 70px;
      background: #fff;
      padding: 30px;
      transition: 0.3s;
    }
  
    header #nav_check:checked ~ nav {
      left: 0;
    }
  
    header nav ul {
      display: block;
    }
  
    header nav ul li a {
      margin: 5px 0;
    }
  }
  